#field{ 
    position:absolute;
    top:calc(-55px + var(--scoreboard-size));
    left:315px;
    height:350px;
    width:350px;
    border-radius:1% 100% 1% 1%;
    border:1px solid green;
    background-color:green;
   -webkit-transform: rotate(-45deg);
}
#in-field{ 
    position:absolute;
    top:calc(85px + var(--scoreboard-size));
    left:378px;
    height:225px;
    width:225px;
    border-radius:1% 50% 1% 1%;
    border:1px solid #836539; /*#9b7653; */
    background-color:#836539; /*#9b7653;*/
   -webkit-transform: rotate(-45deg);
}
#base-lines{
    position:absolute;
    top: calc(-60px + var(--scoreboard-size));
    left: 322px;
    height:335px;
    width:335px;
    border-left:2px solid white;
    border-bottom:2px solid white;
    -webkit-transform: rotate(-45deg);
}
#in-field-grass{
    position:absolute;
    top: calc(165px + var(--scoreboard-size));
    left: 424px;
    height:130px;
    width:130px;
    border:2px solid green;
    background-color:green;
    -webkit-transform: rotate(-45deg);
}
.base{
    position:absolute;
    height:13px;
    width:13px;
    -webkit-transform: rotate(-45deg);
    border:1px solid white;
    background-color:white;
    z-index: 1000;
}
.active-base {
  background-color: orange;
}
#first-base{
    top:calc(225px + var(--scoreboard-size));
    left:584px;
}
#second-base{
    top:calc(115px + var(--scoreboard-size));
    left:484px;
}
#thrid-base{
    top:calc(225px + var(--scoreboard-size));
    left:380px;
}
#home-plate {
    content:"";
    background:#fff;
    height:14px;
    width:14px;
    position:absolute;
    left:483px;
    top:calc(328px + var(--scoreboard-size));
    transform:rotate(45deg);}
  
  #home-plate:before {
    content: "";
    background: #fff;
    height: 14px;
    width: 12px;
    position: absolute;
    left: -0.3vw;
    bottom: 0.4vw;
    transform: rotate(45deg);
  }
.home-plate-pulse{
    /* Copy position attributes from #home-plate.
       Needs to be separate to allow batters boxes to cover edges of home plate */
    position:absolute;
    height:7px;
    width:13px;
    top:678px;
    left:485px;
}
#pitchers-mound{ 
    position:absolute;
    top:calc(210px + var(--scoreboard-size));
    left:470px;
    height:40px;
    width:40px;
    border-radius:100% 100% 100% 100%;
    -webkit-transform: rotate(-45deg);
     border:1px solid #836539;
    background-color:#836539;
}
#pitchers-plate{ 
    position:absolute;
    top:calc(228px + var(--scoreboard-size));
    left:484px;
    height:5px;
    width:12px;
    border:1px solid white;
    background-color:white;
}
#vertical{
    position:absolute;
    top:calc(14px + var(--scoreboard-size));
    left:491px;
    height:1115px;
    width:1px;
    border-left:1px solid black;
}
.half-circle{    
    position:absolute;
    height:40px;
    width: 40px;
    -webkit-transform: rotate(-45deg);
    border:1px solid #836539;
    background-color:#836539;
}
#third-circle{
    top:calc(210px + var(--scoreboard-size));
    left:386px;
    border-radius:1% 1% 100% 1%;
}
#first-circle{
    top:calc(210px + var(--scoreboard-size));
    left:550px;
    border-radius:100% 1% 1% 1%;
}
#second-circle{
    top:calc(125px + var(--scoreboard-size));
    left:470px;
    border-radius:1% 1% 1% 100%;
}
.batters-box{
    position:absolute;
    height:25px;
    width: 15px;
    border:2px solid white;
    background-color:#836539;
      /*-6px 6px red,
      -6px -6px red,
      6px -6px red;*/
    opacity: 1.0; /* Needed so that opacity for pulse doesn't cause issues */
    top: calc(328px + var(--scoreboard-size));
}
#batters-box-right{
    box-shadow: 6px 0 #836539; /* Cover up the base line */
    left:461px;
}
#batters-box-left{
  box-shadow: -6px 0 #836539; /* Cover up the base line */
    left:503px;
}
#batting-circle{ 
    position:absolute;
    top:calc(307px + var(--scoreboard-size));
    left:452px;
    height:75px;
    width:75px;
    border-radius:100% 100% 100% 100%;
   -webkit-transform: rotate(-45deg);
     border:1px solid #836539;
    background-color:#836539;
}
#first-base-thing{
    top:calc(430px + var(--scoreboard-size));
    left:667px;
    position:absolute;
    height:170px;
    width:13px;
    -webkit-transform: rotate(45deg);
    border-right:2px solid white;
    border-bottom:2px solid white;
}

.mowed-grass{
     background-color: #ac0;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent));
background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
background-image: -ms-linear-gradient(0deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
background-image: -o-linear-gradient(0deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
background-image: linear-gradient(0deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    -webkit-background-size: 250px 250px;
    -moz-background-size: 50px 50px;
    background-size: 200px 200px;
/* via http://lea.verou.me/2010/12/checkered-stripes-other-background-patterns-with-css3-gradients/ */

    background-color:#ac0
}

